.corporative-clients {
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  background-color: #8c8989;

  .container {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
    text-shadow: 0px 1.63975px 1.63975px rgba(0, 0, 0, 0.25);

    .btn_corporative-clients {
      margin-top: 25px;
      margin-left: auto;
      margin-right: 15px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }

  .corporative-clients__title-wrapper {
    text-align: center;
  }

  .corporative-clients__title {
    display: inline-block;
    text-align: end;
    @include font($fs: 16px, $fw: 500, $lh: 18px);
    margin-bottom: 22px;

    .corporative-clients__title-space {
      width: 4px;
      display: inline-block;
    }

    .corporative-clients__title-mod {
      color: #fff503;
    }
  }

  .corporative-clients__content-wrapper {
    display: flex;
    justify-content: center;
  }

  .corporative-clients__img-wrapper {
    display: none;
  }

  .corporative-clients__list {
    @include font($fs: 13px, $fw: 500, $lh: 16px);
    text-transform: uppercase;
    padding-left: 50px;
  }

  .corporative-clients__item {
    position: relative;
    &:not(:last-of-type) {
      margin-bottom: 25px;
    }

    &:before {
      content: "";
      position: absolute;
      top: -43px;
      left: -75px;
      display: block;
      width: 107px;
      height: 107px;
      transform: scale(0.25);
      background-image: url("../images/corporative-clients/mark.png");
      background-repeat: no-repeat;
    }
  }
}

@media screen and (min-width: 1200px) {
  .corporative-clients {
    .container {
      padding-top: 40px;
      padding-bottom: 60px;
    }

    .corporative-clients__title {
      @include font($fs: 24px, $fw: 600, $lh: 28px);
    }

    .corporative-clients__img-wrapper {
      position: relative;
      z-index: 1;
      display: block;
      &:before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -24px;
        left: -39px;
        display: block;
        width: 240px;
        height: 318px;
        background-color: #fff503;
      }
    }

    .corporative-clients__list-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .corporative-clients__list {
      margin-top: 40px;
    }

    .corporative-clients__list {
      @include font($fs: 18px, $fw: 500, $lh: 32px);
    }

    .corporative-clients__item {
      &:before {
        top: -35px;
      }
    }

    .btn_corporative-clients {
      min-width: 300px;
    }
  }
}
