.header {
  .container {
    display: flex;
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .header__logo {
    margin-right: auto;
  }

  .header__burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    .burger-line {
      display: block;
      width: 28px;
      height: 3px;
      background-color: #212121;

      &:not(:last-of-type) {
        margin-bottom: 3px;
      }
    }
  }
}
