.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000;
  background-position: center center;
  background-size: cover;
  width: 100%;
  min-height: 250px;
  color: #fff;

  .hero__content {
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 26px;
  }

  .hero__content-title {
    @include font($fs: 16px, $fw: 400, $lh: 18px);
    text-align: center;

    &_big {
      text-transform: uppercase;
    }
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/hero/hero-bg-mobile@x1.jpg");
    min-height: 350px;
  }
}

@media (min-device-pixel-rario: 2) and (max-width: 767px),
  (min-resolution: 192dpi) and (max-width: 767px),
  (min-resolution: 3dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/hero/hero-bg-mobile@x2.jpg");
  }
}

@media (min-device-pixel-ration: 3) and (max-width: 767px),
  (min-resolution: 288dpi) and (max-width: 767px),
  (min-resolution: 3dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/hero/hero-bg-mobile@x3.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/hero/hero-bg-tablet@x1.jpg");
    min-height: 350px;

    .hero__content-title {
      @include font($fs: 20px, $fw: 500, $lh: 32px);
    }

    .hero__content {
      min-width: 500px;
    }
  }
}

@media (min-device-pixel-rario: 2) and (min-width: 768px),
  (min-resolution: 192dpi) and (min-width: 768px),
  (min-resolution: 3dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/hero/hero-bg-tablet@x2.jpg");
  }
}

@media (min-device-pixel-ration: 3) and (min-width: 768px),
  (min-resolution: 288dpi) and (min-width: 768px),
  (min-resolution: 3dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url("../images/hero/hero-bg-tablet@x3.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1920px;
    min-height: 600px;

    .hero__content-title {
      @include font($fs: 40px, $fw: 500, $lh: 49px);
    }

    .hero__content {
      min-width: 1000px;
    }
  }
}
